# ========================
# Node dependencies
# ========================
node_modules/

# ========================
# Expo
# ========================
.expo/
dist/
web-build/
expo-env.d.ts

# ========================
# Native / React Native
# ========================
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
/ios
/android
.metro-health-check*

# ========================
# Debug / Logs
# ========================
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# ========================
# macOS
# ========================
.DS_Store

# ========================
# Environment files
# ========================
# Ignora cualquier .env en cualquier carpeta
**/.env
**/.env*.local

# ========================
# TypeScript
# ========================
*.tsbuildinfo

# ========================
# PEM / Certs
# ========================
*.pem
